# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
# Build directory
static/admin/*.bundle.*
.DS_Store
yarn-error.log
.next
.jsconfig.json
.vscode
# Local Netlify folder
.netlify